<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genetalk</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Genetalk</h1>
        </div>
        <div class="chat-container" id="chatContainer">
             <!-- 對話內容將動態插入到這裡 -->
        </div>

        <div class="input-container">
            <div class="search-bar">
                <!-- 添加onkeydown事件監聽Enter鍵 -->
                <input type="text" id="userInput" placeholder="請輸入您的問題" style="font-size: 25px;" onkeydown="checkEnter(event)">
                <button onclick="askQuestion()">
                    <img src="static/search.jpg">
                </button>
                <!-- 添加語音輸入按鈕 -->
                <button onclick="startRecognition()" id="voiceButton">
                    <img src="static/TALK.jpg" alt="語音輸入" style="width: 25px; height: 25px;">
                </button>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/script.js"></script>
    <script>
        // 檢查是否按下Enter鍵的函數
        function checkEnter(event) {
            if (event.key === "Enter") {
                askQuestion(); // 按下Enter鍵時調用askQuestion()函數
            }
        }

        // 添加語音識別功能
        function startRecognition() {
            if (!('webkitSpeechRecognition' in window)) {
                alert('此瀏覽器不支援語音識別功能，請使用 Google Chrome 或 Edge 瀏覽器進行測試。');
                return;
            }

            const recognition = new webkitSpeechRecognition();
            recognition.lang = 'zh-TW'; // 設定語言為繁體中文
            recognition.interimResults = false; // 禁用中間結果
            recognition.maxAlternatives = 1; // 返回一個最好的結果

            recognition.onstart = function() {
                document.getElementById('voiceButton').disabled = true; // 禁用按鈕
            };

            recognition.onresult = function(event) {
                const transcript = event.results[0][0].transcript; // 獲取轉錄的文本
                document.getElementById('userInput').value = transcript; // 將文本插入輸入框
                // askQuestion(); // 自動提交問題
            };

            recognition.onerror = function(event) {
                console.error('語音識別發生錯誤:', event.error);
            };

            recognition.onend = function() {
                document.getElementById('voiceButton').disabled = false; // 啟用按鈕
            };

            recognition.start();
        }
    </script>
</body>
</html>
